
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* <---note font family use tailwind font family ---> */
/* font-sans, font-mono */

html{
    scroll-behavior: smooth;
}
.navbar .active{
    color: #dc3545;
    background-color: #fbf1e7;
}
.box{
    position: relative;
    transition: 0.8s;
}
.box::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(120deg, rgba(255,255,255,0.3), rgba(255,255,255,0.05));
    border-radius: 30px;
    opacity: 0.25;
    pointer-events: none;
}
.box::after{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(120deg, rgb(255 255 255 / 12%), rgb(255 255 255 / 1%)); */
    content: '';
    z-index: -1;
    border-radius: 30px;
    margin: -1px;
    pointer-events: none;
}

.box:hover .linkicon{
    opacity: 0.8;
}
.chat:hover::before{
    left: calc(100% - 49px);
}
.chat::before{
    content: "";
    position: absolute;
    width: 40px;
    height: calc(100% - 10px);
    transition: 0.7s;
    z-index: 2;
    background-color: white;
    opacity: 0.2;
    left: 5px;
    top: 5px;
    border-radius: 10px;
}

#admin{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: admin 6s ease-in-out infinite;
}

@keyframes admin{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background-size: 100% 100%;
    }  
    50%{
        border-radius: 30% 60% 70% 30% / 70% 50% 40% 30%;
        background-size: 300% 150%;
    }
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background-size: 100% 100%;
    }
}

/* <----spinner-----> */
body{background:#0f0f0f}

.load{position:absolute;top:50%;z-index: 2000;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
