/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* <---note font family use tailwind font family ---> */
/* font-sans, font-mono */

.navbar .active{
    color: white;
}
.box{
    position: relative;
    transition: 0.8s;
}
.box::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(120deg, rgba(255,255,255,0.3), rgba(255,255,255,0.05));
    border-radius: 30px;
    opacity: 0.25;
    pointer-events: none;
}
.box::after{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(120deg, rgb(255 255 255 / 12%), rgb(255 255 255 / 1%)); */
    content: '';
    z-index: -1;
    border-radius: 30px;
    margin: -1px;
    pointer-events: none;
}

.box:hover .linkicon{
    opacity: 0.8;
}
